.headerExpand {
  height: 100px;
  transition: height 0.3s ease-in-out;
}

.headerShrink {
  height: 50px;
  transition: height 0.3s ease-in-out;
}

/* Header.css */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: rgb(43, 16, 16);
}
